<!--ACTUAL USER PAGE-->

<!DOCTYPE html>
<html ng-app="module.dashboard">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/js/module.dashboard.js"></script>
    </head>
    <body ng-controller="dashboard as dCtrl" class="container">
        <div class="jumbotron">
            <a href="/" class="btn btn-lg btn-default" id="homeButton">Homepage</a>
            <a href="/logout" class="btn btn-lg btn-danger" id="logoutButton">Logout</a>
            <h1>Welcome</h1>
            <p>Mongo UserID: <%= uid %></p>
        </div>
    </body>
</html>