<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js"></script>
        <link rel="stylesheet" href="/css/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center"></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li>
                                <a href="/"  class="waves-effect waves-light" id="navButtonHome">Home</a>
                            </li>
                            <!--<li>
                                <a href="#profile" class="waves-effect waves-light" id="navButtonProfile">Profile</a>
                            </li>-->
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/login" class="waves-effect waves-light" id="navButtonLogin">Login</a>
                            </li>
                        </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col s12 m6" id="homeCard">
                <div class="card white darken-1">
                    <div class="card-content black-text">
                    <span class="card-title">Welcome to PAM!</span>
                        <section id="wrapper" class="container">
                            <div>
                                <img src="http://cdn.1001freedownloads.com/vector/thumb/64677/1396435340.png" class="image"/>
                                <p>
                                    <a class="waves-effect waves-light btn-large" href="/login" role="button" id="mainLoginButton">Login Now!</a>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>