html {
    background-color: #e0e0e0;
}

body {
    margin-right: 150px;
    margin-left: 150px;
}

.mainHomeButton {
    text-align: center;
    margin-top: 30px;
}

.alert {
    margin: 20px 0;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

#tabs {
    margin: 40px auto;
    width: 480px;
}

#tabs h1 {
    margin: 0;
    padding: 20px;
}
