html {
    background-color: #e0e0e0
}
body {
    margin-left: 150px;
    margin-right: 150px;
}

.nav-wrapper {
    background-color: #2c7de8;
}

#navButtonHome {
    width: 140px;
    text-align: center;
    font-size: 20px;
}

#navButtonProfile {
    margin-right: 20px;
    width: 140px;
    text-align: center;
    font-size: 20px;
}

#navButtonLogin {
    width: 140px;
    text-align: center;
    font-size: 20px;
}

#mainLoginButton {
    background-color: #2aba1a;
}

#mainLoginButton:hover {
    background-color: #219b14;
}